[workspace]
members = [
    'runtime/moonriver',
    'runtime/moonbase',
]

[profile.release]
panic = 'unwind'

[patch.crates-io]
evm = { git = "https://github.com/purestake/evm", branch = "EVM_BRANCH"}
evm-runtime = { git = "https://github.com/purestake/evm", branch = "EVM_BRANCH" }
evm-gasometer = { git = "https://github.com/purestake/evm", branch = "EVM_BRANCH" }
